appdirs==1.4.4
cfgv==3.2.0
click==7.1.2
distlib==0.3.1
filelock==3.0.12
flake8==3.9.1
Flask==1.1.2
identify==2.2.4
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mccabe==0.6.1
nodeenv==1.6.0
pre-commit==2.12.1
pycodestyle==2.7.0
pyflakes==2.3.1
PyYAML==5.4.1
six==1.16.0
toml==0.10.2
virtualenv==20.4.6
Werkzeug==1.0.1
